body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1024px;
  background:inherit;
  background-color:rgba(40, 48, 72, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:1440px;
  height:1024px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u101 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u101_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u102_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1090px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/3_страница/для_сайта_5_u62-0.jpg');
  background-repeat:no-repeat;
  background-size:1937px 1090px;
  background-position: -248.5px 0.0px;
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1090px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u102 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u103_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1090px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.4);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1090px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u103 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u104_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Uncial Antiqua", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:78px;
  color:#FFFFFF;
  text-align:left;
  line-height:120px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:31px;
  width:1104px;
  height:255px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Uncial Antiqua", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:78px;
  color:#FFFFFF;
  text-align:left;
  line-height:120px;
}
#u104 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u104_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:10px 20px 4px rgba(0, 0, 0, 0.2);
  -webkit-text-shadow:10px 20px 4px rgba(0, 0, 0, 0.2);
  -moz-text-shadow:10px 20px 4px rgba(0, 0, 0, 0.2);
  text-transform:none;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:700px;
  height:480px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.14901960784313725);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:336px;
  width:700px;
  height:480px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u106 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:101px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(133, 147, 152, 0.5019607843137255);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:379px;
  width:625px;
  height:101px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u107 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:101px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(133, 147, 152, 0.5019607843137255);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:529px;
  width:625px;
  height:101px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u108 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u108_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:101px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(133, 147, 152, 0.5019607843137255);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:679px;
  width:625px;
  height:101px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u109 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u109_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:72px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.30196078431372547);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:546px;
  width:345px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u110 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u110_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u111_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:72px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.30196078431372547);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:548px;
  top:693px;
  width:345px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u111 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u111_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u112_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Uncial Antiqua", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
  line-height:120px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:670px;
  width:224px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Uncial Antiqua", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  text-align:left;
  line-height:120px;
}
#u112 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u112_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:447px;
  top:399px;
  width:70px;
  height:60px;
  display:flex;
  transition:none;
}
#u113 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u113_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:452px;
  top:557px;
  width:59px;
  height:50px;
  display:flex;
  transition:none;
}
#u114 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:50px;
}
#u114_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u115_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:72px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.25098039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 0.30196078431372547);
  border-radius:10px;
  filter:drop-shadow(none);
  transition:none;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:395px;
  width:345px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u115 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
