body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1440px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1625px;
  background:inherit;
  background-color:rgba(40, 48, 72, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1625px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:120px;
  background:inherit;
  background-color:rgba(133, 147, 152, 0.30196078431372547);
  border-radius:0px;
  filter:drop-shadow(2px 6px 2px rgba(0, 0, 0, 0.050980392156862744));
  transition:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:368px;
  height:108px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Uncial Antiqua", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
  line-height:120px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:24px;
  width:368px;
  height:108px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Uncial Antiqua", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#FFFFFF;
  text-align:left;
  line-height:120px;
}
#u76 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25098039215686274);
  text-transform:none;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter Semi Bold", "Inter", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:80px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:67px;
  width:106px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter Semi Bold", "Inter", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:80px;
}
#u77 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:none;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:1289px;
  top:53px;
  width:50px;
  height:50px;
  display:flex;
  transition:none;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:1302px;
  top:65px;
  width:25px;
  height:25px;
}
#u80_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u80_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  height:21px;
  display:flex;
  transition:none;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:429px;
  background:inherit;
  background-color:rgba(68, 78, 97, 0.4);
  border-radius:30px;
  filter:drop-shadow(none);
  transition:none;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:314px;
  width:880px;
  height:429px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:303px;
  width:440px;
  height:440px;
  display:flex;
  transition:none;
}
#u83 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:440px;
}
#u83_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:303px;
  width:880px;
  height:420px;
  display:flex;
  transition:none;
}
#u84 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:888px;
  height:428px;
}
#u84_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:86px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Uncial Antiqua", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:50px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:148px;
  width:507px;
  height:86px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Uncial Antiqua", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:50px;
}
#u85 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u85_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:280px;
  top:253px;
  width:880px;
  height:1px;
  display:flex;
  transition:none;
}
#u86 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:883px;
  height:4px;
}
#u86_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:308px;
  width:340px;
  height:121px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u88 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u88_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:987px;
  top:314px;
  width:350px;
  height:131px;
  display:flex;
  transition:none;
}
#u89 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:131px;
}
#u89_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:461px;
  width:340px;
  height:121px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u91 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u91_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:461px;
  width:340px;
  height:121px;
  display:flex;
  transition:none;
}
#u92 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:348px;
  height:129px;
}
#u92_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:461px;
  width:340px;
  height:121px;
  display:flex;
  transition:none;
}
#u93 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:121px;
}
#u93_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:608px;
  width:340px;
  height:121px;
  display:flex;
  transition:none;
}
#u94 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:0px;
  width:348px;
  height:129px;
}
#u94_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u95_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter Semi Bold", "Inter", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:80px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:794px;
  top:68px;
  width:106px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter Semi Bold", "Inter", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:80px;
}
#u95 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u95_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:none;
}
#u96_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter Semi Bold", "Inter", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:80px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:68px;
  width:158px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter Semi Bold", "Inter", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
  text-align:left;
  line-height:80px;
}
#u96 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u96_text {
  border-width:0px;
  word-wrap:break-word;
  text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -webkit-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  -moz-text-shadow:0px 4px 4px rgba(0, 0, 0, 0.5019607843137255);
  text-transform:none;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:129px;
  top:858px;
  width:1182px;
  height:716px;
  display:flex;
  transition:none;
}
#u97 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:716px;
}
#u97_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:303px;
  width:888px;
  height:428px;
  display:flex;
  transition:none;
}
#u98 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:428px;
}
#u98_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:610px;
  width:340px;
  height:121px;
  display:flex;
  transition:none;
}
#u99 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:121px;
}
#u99_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
